<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
	<meta charset="utf-8">
	<!-- If you delete this meta tag World War Z will become a reality -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beeter</title>

	<!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/foundation.css">

	<!-- If you are using the gem version, you need this only -->
	<link rel="stylesheet" href="assets/css/app.css">

	<script src="assets/js/vendor/modernizr.js"></script>

</head>
<body>

	<section class="menu">
		<div class="row">
			<div class="small-12 column">
				<ul class="inline-list" style="float: right;">
					<li>
						<a href="#">Explorar</a>
					</li>
					<li>
						<a href="#">Mensagens</a>
					</li>
					<li>
						<a href="#">Favoritos</a>
					</li>
					<li>
						<a href="#">Meu perfil</a>
					</li>
					<li>
						<a href="#">Preferências</a>
					</li>
					<li>
						<dropdown>
							<input id="toggle2" type="checkbox">
							<label for="toggle2" class="animate">email@email.com</label>
							<ul class="animate">
								<li class="animate">Perfil</li>
								<li class="animate">Preferências</li>
								<li class="animate">Sair</li>
							</ul>
						</dropdown>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="explore">
		<div class="row">
			<div class="small-12">
				<div class="user-card">
					<div class="user-card-status"></div>
					<div class="user-card-infos">
						<span class="user">carolbastos, 19</span>
						<span class="city">Rio de Janeiro, RJ</span>
					</div>
				</div>

				<div class="user-card">
					<div class="user-card-status offline"></div>
					<div class="user-card-infos">
						<span class="user">carolbastos, 19</span>
						<span class="city">Rio de Janeiro, RJ</span>
					</div>
				</div>

				<div class="user-card">
					<div class="user-card-status offline"></div>
					<div class="user-card-infos">
						<span class="user">carolbastos, 19</span>
						<span class="city">Rio de Janeiro, RJ</span>
					</div>
				</div>

				<div class="user-card">
					<div class="user-card-status offline"></div>
					<div class="user-card-infos">
						<span class="user">carolbastos, 19</span>
						<span class="city">Rio de Janeiro, RJ</span>
					</div>
				</div>

				<div class="user-card">
					<div class="user-card-status offline"></div>
					<div class="user-card-infos">
						<span class="user">carolbastos, 19</span>
						<span class="city">Rio de Janeiro, RJ</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="footer">
		<div class="row">
			<div class="small-12 column">
				footer
			</div>
		</div>
	</section>

	<script src="assets/js/vendor/jquery.js"></script>
	<script src="assets/js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>

	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="assets/js/particles.js"></script>

	<script src="assets/js/typed.js"></script>

	<script>
		$(function(){
			$(".typed").typed({
				strings: [
				"^500seu ^200<span>nerd!</span>",
				"^500sua ^200<span>geek!</span>",
				"^500sua ^200<span>nerd!</span>",
				"^500seu ^200<span>geek!</span>"
				],
				typeSpeed: 80,
				startDelay: 200,
				backSpeed: 100,
				backDelay: 800,
				showCursor: true,
				cursorChar: "|",
				loop: true
			});
		});
	</script>

</body>
</html>